[submodule "code/blockchain/lib/openzeppelin-contracts"]
	path = code/blockchain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "code/blockchain/lib/chainlink-brownie-contracts"]
	path = code/blockchain/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "code/blockchain/lib/forge-std"]
	path = code/blockchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
